NODE_ENV=testing
PORT=6969
LOG_LEVEL=debug
LOG_ARCHIVE_PATH=./
CDEK_ACCOUNT=fake
CDEK_PASSWORD=passwrod
CDEK_URL_BASE=https://api.edu.cdek.ru/v2
AMO_DOMAIN=domain
AMO_CLIENT_ID=client_id
AMO_SECRET=client_secret
AMO_REDIRECT_URI=http://localhost:6969/auth/amo/callback
AMO_TOKEN_PATH=./data/amo_token.example.json
TELEGRAM_TOKEN=faketoken
TELEGRAM_ADMIN_ID=69696969
MAIL_HOST=smtp.mail.ru
MAIL_USER=vasya@mail.ru
MAIL_PASSWORD=passforapp
MAIL_FROM=vasya@mail.ru
MAIL_PORT=465