name: Push & PR

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]

  push:
    branches: ["main"]
    paths:
      - "src/**"
      - "test/**"
      - "package.json"
      - "tsconfig.json"
      - "tsconfig.build.json"
      - ".github/workflows/**"

  pull_request:
    branches: ["main"]
    paths:
      - "src/**"
      - "test/**"
      - "package.json"
      - "tsconfig.json"
      - "tsconfig.build.json"
      - ".github/workflows/**"
      - "tools/**"

env:
  FORCE_COLOR: true

jobs:
  lint-build:
    name: Lint & Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Get Bun cache directory
        shell: bash
        run: |
          echo "BUN_CACHE_DIR=$(bun pm cache)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup bun cache
        with:
          path: ${{ env.BUN_CACHE_DIR }}
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun lint

      - name: Build
        run: bun build:client

      - name: Test
        run: bun test:cov

      # - name: Report Coverage
      #   if: always()
      #   uses: davelosert/vitest-coverage-report-action@v2
      #   with:
      #     vite-config-path: ./test/vitest.config.ts
