name: Push & PR

on:
  push:
    branches: ["bun"]
    paths:
      - "src/**"
      - "test/**"
      - "package.json"
      - "tsconfig.json"
      - ".github/workflows/**"
      - "scripts/**"

  pull_request:
    branches: ["bun"]
    paths:
      - "src/**"
      - "test/**"
      - "package.json"
      - "tsconfig.json"
      - ".github/workflows/**"
      - "scripts/**"

env:
  FORCE_COLOR: true

jobs:
  lint-build:
    name: Lint & Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun lint

      - name: Build
        run: bun build:client

      - name: Test
        run: bun test:cov

      # - name: Report Coverage
      #   if: always()
      #   uses: davelosert/vitest-coverage-report-action@v2
      #   with:
      #     vite-config-path: ./test/vitest.config.ts
